<div class="container">

<p>
  <h1><%= @blog_post.post_title %></h1>
</p>

<p>
  <%= @blog_post.entry %>
</p>
</div>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
